body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  cursor: pointer;
}

.item-box {
  display: grid;
  gap: 10px;
}

.item-line {
  display: flex;
  gap: 20px;
}
button {
  width: 130px; 
}

.grid {
  display: grid;
  gap: 5px;
}

.red {
  color: red;
  font-weight: 700;
}